/.VaryGrammarResourceDescriptionsStrategy.java._trace
/.VaryGrammarScopeProviderAux.java._trace
/.VaryGrammarScopeProvider.java._trace
/.VaryGrammarResourceDescriptionStrategy.xtendbin
/.VaryGrammarScopeProviderAux.xtendbin
/VaryGrammarResourceDescriptionsStrategy.java
/VaryGrammarScopeProviderAux.java
